body {
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2321d294' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

div {
    padding: 20px;
    padding-bottom: 40px;

    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}


h1 {
    color: #ffffff;
    font-size: 30px;

}

h4{
    color: #ffffff
}

footer {
    background: rgb(32, 47, 76);
    text-align: center;
}

ul {
    margin: 0px;
    padding: 15px;
    display: inline-block;
    padding-left: 200px;
}

ul li {
    display: inline;
    margin: 20px;
}

ul li a {
    color: #ffffff;
}

.first {
    margin-bottom: 40px;
    margin: 0 auto;
    margin-top: 20px;

    max-width: 700px;
    min-height: 300px;

    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

}

header{
    background: #08AEEA;
    padding: 0px 20px;
}

header h1{
    margin-top: -2px;
    display: inline-block;
}

header ul li{
    text-align: right;
}

form{
    background: white;
    padding: 20px;
    text-align: center;
    width: 360px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 60px 20px;

}

#contact{
    border-width: 0px;
    border-radius: 20px;

    padding: 10px 20px;
    background-color: cornflowerblue;
    margin: 20px;
    
    color: #ECF0F1;
    font-size:  16px;
    box-shadow: 1px 1px blue;

    transition: background-color 1s;
}

#contact:hover{
    background-color: #2AF598;
}

#avatar{
    width: 150px;
    height: 150px;
    margin: 0px 20px;
    float: left;
}

#computerpict{
    width: 150px;
    height: 150px;
    margin: 0px 20px;
    float: left;
}

#computerset{
    width: 150px;
    height: 150px;
    margin: 0px 20px;
    float: left;
}